<div class="camera-parallax-layer" [style.opacity]="cameraOpacity()" [style.transform]="parallaxTransform()">
    <div class="camera-wrapper">
        <div class="camera" [style.transform]="cameraTransform()">
            <div class="camera-ai-ring"></div>
            <div class="camera-support"></div>
            <div class="camera-arm"></div>

            <div class="camera-core">
                <div class="camera-digital-line"></div>
                <div class="camera-lens"></div>
            </div>
        </div>
    </div>
</div>